<div class="container">
  <div class="row">
    <h4>Teams on the league</h4>
  </div>
  <div class="row gap-2">
    <article *ngFor="let team of teamsData" class="border border-2 col-3 d-flex flex-column">
      <div class="row flex-grow-1">
        <div class="col-md-7 d-flex flex-column ps-4 py-3">
          <h5>{{ team.name }}</h5>
          <p>
            <small class="text-muted">{{ team.short_name }} #{{team.id}}</small>
          </p>
        </div>
        <div class="col-md-5 d-flex align-items-center">
          <img src="https://flagcdn.com/h80/{{ team.country.toLowerCase() }}.png" class="img-fluid rounded shadow"
            alt="team flag" />
        </div>
      </div>
      <div class="row pb-2">
        <p class="m-0">📍 {{ team.location }}</p>
      </div>
    </article>
  </div>
</div>
