<div class="container">
  <div class="row">
    <h4>Teams on the league</h4>
  </div>
  <div class="row gap-2">
    <article *ngFor="let team of teamsArray" class="card col-md-3">
      <div class="row g-4">
        <div class="col-md-4 d-flex align-items-center">
          <img src="https://countryflagsapi.com/png/{{team.country}}" class="img-fluid rounded shadow" alt="team flag">
        </div>
        <div class="col-md-8 px-0">
          <div class="card-body py-2 px-0">
            <h5 class="card-title">{{team.name}}</h5>
            <p class="card-text">
              <small class="text-muted">{{team.short_name}}</small>
            </p>
            <p>
              📍 {{team.location}}
            <p>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
