<nav class="navbar navbar-dark navbar-expand-lg bg-dark px-4 mt-2">
  <a class="navbar-brand" href="#">
    <img src="assets/logo-64.png" alt="Fantasy Volleyball League" width="96" height="36">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/teams'" [routerLinkActive]="['active']">Teams</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">Matchs</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="'/matchs'">Matchs played</a>
          <a class="dropdown-item" [routerLink]="'/matchs/add'">New Match</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
